.taskList_paper {
  margin-bottom: 100px;
}

.taskList_container {
  text-align: center;
  margin: 0;
  padding: 50px;
  border-radius: 2px;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.taskList_gridContainer {
  padding: 10px;
}

.taskList_gridItem {
  padding: 2%;
  border-bottom: 1px solid lightgray;
  width: inherit;
}
